@{
  Layout = "_Layout";
}

@section scripts {
  <script type = "text/javascript">
  var value = 1;

  $(document).ready(function(){
    $("#addTag").click(function(){
      value += 1;
      $("#newTag").append('<br><input type="text" name="tag-name'+value+'" class="form-control">');
    });

    $("#addExperience").click(function(){
      $("#newTag").append('<input id="number-loop" name = "number-loop" type = "hidden" value = "'+value+'">');
    });
  });
  </script>
}
<div class="row welcome">
  <p class="col-md-1 col-md-offset-11">Welcome @Model["user"].GetName()</p>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">City Experiences</a>
    </div>
    <div class="navbar-header">
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="/user/@Model["user"].GetId()/home">Home</a></li>

      <form class="navbar-form navbar-left" action="/user/@Model["user"].GetId()/experiences/tag/search" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="tag-name" placeholder="Search By Keyword">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

      <form class="navbar-form navbar-left" action="/user/@Model["user"].GetId()/experiences/city/search" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="city-name" placeholder="Search By City">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      @* User Profile *@
      <li><a href="/user/@Model["user"].GetId()/profile"><span class="glyphicon glyphicon-user"></span></a></li>
      @* Logout *@
      <li><a href="/"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
  </div>
</nav>



<body>
  <h1>New Experience</h1>

  <form class="form-group" action="/user/@Model["user"].GetId()/experience/add" method="post">
    <label for="experience-title">Title:</label>
    <input type="text" class="form-control" name="experience-title"><br>
    <label for="experience-location">Location:</label>
    <select id='location-id' class="form-control" name='experience-location' type='text'><br>
      @foreach (var city in @Model["cities"])
      {
        <option value='@city.GetId()'>@city.GetName()</option>
      }
    </select><br>
    <label for="experience-description">Description:</label>
    <input type="text" class="form-control" name="experience-description"><br>
    <label for="experience-photo">Photo Link:</label>
    <input type="text" class="form-control" name="experience-photo"><br>
    <label for="experience-price">Price:</label>
    <input type="text" class="form-control" name="experience-price"><br>
    <label for="tag-name1">Keyword:</label>
    <input type="text" class="form-control" name="tag-name1"><br>

    <div id="newTag">

    </div>
    <br>
    <button type="button" class="btn btn-info" name="button" id = "addTag">Add more Keywords</button><br>
    <br>

    <button type="submit" name="button" class="btn btn-info" id="addExperience">Add Experience</button>

  </form>
</body>
